{% extends 'base.html' %}

{% block header %}
  {% if g.user%}
  <div class="taskhead">
  <h2>{% block title %}Tasks{% endblock %}</h2>
  </div>
  <div class="taskadd">
    <a class="action" href="{{ url_for('tasks.create') }}">Add task</a>
  </div>
  {% endif %}
{% endblock %}

{% block content %}
{% if g.user %}
  {% for task in tasks %}
  {% if g.user['id'] == task['author_id'] %}
  
    <article class="task">
      <header>
        <div>
          
          <h3>{{ task['task_name'] }}</h3>
          
        </div>
          <a class="action" href="{{ url_for('tasks.update', id=task['id']) }}">Edit</a>
          <form class="done" action="{{ url_for('tasks.delete', id=task['id']) }}" method="post">
            <input class="danger" type="submit" value="Done" onclick="return confirm('Are you sure?');">
          </form>
      </header>
      <p class="body">{{ task['task_desc'] }}</p>
      
      <div class="duedate">due on {{ task['due_date'].strftime('%Y-%m-%d') }} at {{ task['due_time']}}</div>
     
    </article>
      <hr>
    {% endif %}
  {% endfor %}
 {% endif %} 
{% endblock %}